* {
    box-sizing:border-box;
}
html {
    scroll-behavior: smooth;
    scroll-margin-top: 54px;
}
h1,h2,h3{
    margin: 0;
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Medium.ttf);
}
p,h1,h2,h3,a,legend,input,textarea,li,div{
    font-family: Roboto, serif;
}

.projetImg{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.projetImg img{
    max-width: 100%;
    border-radius: 20px;
    margin-right: 1rem;
    scroll-snap-align: start;
}

h1{
    font-size: 28px;
}


h2,h1{
    text-align: center;
}



body {
    margin: 0;
    padding : 0;
    background-color: #34353b;
}
/* navbar */
.navbar {
    display :flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #335;
    color : white;
    position: sticky;
    top: 0;
    padding: 1rem;
    height: 54px;
    z-index: 10;

}
.titre {
    font-size: 1.5rem;
    padding-left : 10px;
    min-width: fit-content;
    color: white !important;
    text-decoration: none;
}

.lienNavbar div {
    display: inline-block;
}
.lienNavbar a {
    text-decoration: none;
    color : white;
    padding: 1rem;
    display: block;
}
.lienNavbar a:hover,
.submenu-burger a:hover{
    color: black;
    background-color: #eaebed;

    transition: all 600ms;
}
/* burger */

.burger {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}
.burger:hover .submenu-burger {
    display: block;
    flex-direction: column;
    align-items: center;
}
img[alt="burger"]{
    width: 40px;
    height: auto;
}
.submenu-burger {
    padding: 5px;
    top: 50px;
    right: 0;
    display: none;
    position: absolute;
    background-color: #335;
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,.8);
}
.submenu-burger a {
    text-decoration: none;
    color : white;
    padding: 1rem;
    display: block;
}

/* main */
main{
    margin: 80px 15%;
}
article{
    margin: 25px 0;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.profil article, .avenir article{
    background-color: #3d3e42;
}


a > article:hover {
    border-color: #335;
}
.groupe{
    background-color: #181A1B;
}
main > a{
    color: black !important;
    text-decoration: none;
}
/* footer */
footer {
    margin-top: 30px;
    padding: 1rem;
    background-color: #181A1B;
    color: white;
    text-align: center;
}

.cv {
    text-align: center;
}

.linkedin {
    height: 5%;
    width: 5%;
}

.github {
    height: 5%;
    width: 5%;
}


.ap article{
    text-align: center;
}

.ap button, .cv button{
    height: 48px;
    width: auto;
    background-color: transparent;
    border: 2px solid #fec86a;
    border-radius: 8px;
    color: #fec86a;
    font-size: 16px;
    transition: all ease 0.5s;
    text-align: center;
    text-decoration: none;
}

.ap button:hover, .cv button:hover{
    background-color: #fec86a;
    color: #34353b;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.skills h2 {
    font-weight: 700;
    color: #fbfbfb;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 2.5vh;
}

.skill-card {
    height: 15vw;
    width: 15vw;
    background-color: #3d3e42;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.skill-card:hover {
    background-color: #fec86a;
}

.skill-card img {
    height: 5.0vw;
    width: 5.0vw;
    object-fit: contain;
}

.skill-card h2 {
    font-size: 15px;
    font-weight: 400;
    color: #fbfbfb;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.portfolio h2 {
    font-weight: 700;
    color: #fbfbfb;
}

.portfolio-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    gap: 2.5vh;
}

.portfolio-card {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: #3d3e42;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    transition: all ease 0.5s;
}

.portfolio-card img {
    position: relative;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
}

.portfolio-card .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    height: 30vw;
    width: 30vw;
    background-color: #34353ba2;
    align-items: center;
    justify-content: center;
    padding: 24px;
    opacity: 0;
    transition: all ease 0.5s;
}

.portfolio-card .overlay h3 {
    color: #fbfbfb;
    font-size: 24px;
}

.portfolio-card .overlay p {
    color: #fbfbfb;
    font-size: 16px;
    text-align: center;
}

.portfolio-card .overlay button {
    height: 36px;
    width: 108px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 12px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.portfolio-card .overlay:hover {
    opacity: 1;
}

.portfolio a{
    height: 40px;
    line-height: 40px;
    width: 120px;
    background-color: #fec86a;
    border: 1px solid #fec86a;
    border-radius: 8px;
    color: #34353b;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: all ease 0.5s;
    text-decoration: none;
}

.portfolio a:hover{
    background-color: #cc9e4e;
}

@media screen and (max-width:1200px) {
    .lienNavbar{
        display: none;
    }
    .burger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main {
        margin: 60px 15px 50px 15px !important;
    }
}
